<!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "description" content = "la gran descripcion de el sitio web">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> El gran titulo universitario </title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class = "main_nav">
        <ul>
            <li><a href="../../index.html">VOLVER</a></li>
        </ul>
    </nav>

    <div class="divplus">
        <h1>Nombre de la noticia</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nec aliquam molestie, cum enim commodo justo neque nam viverra mi gravida vel, pellentesque odio elementum vehicula velit malesuada ullamcorper nascetur arcu. Himenaeos duis est quam feugiat eros in ultricies suspendisse congue, per class dapibus nisi a vestibulum pulvinar mus id blandit, tincidunt ligula litora felis mollis parturient rutrum tristique. Sed augue himenaeos sagittis montes maecenas facilisi ullamcorper, sociis aliquet platea malesuada ut ligula cubilia, class primis dui suscipit nunc venenatis.
        <br>
    
    </div>

    <div class="divplus">
        <img class = "imagen_portada_noticia" src="../images/main_notice.jpg" alt="imagen principal de la noticia">
    </div>
    
    <div class="green_advice">
        <h2>Descripcion de la imagen</h2>
        <p>
            Ac parturient torquent leo accumsan elementum orci semper fringilla fermentum, id sociis eu metus odio commodo velit enim, curae morbi laoreet vestibulum rhoncus interdum tincidunt nascetur. Vitae nec nunc porta eu luctus eleifend cum rutrum dapibus facilisi, pellentesque montes non accumsan risus sollicitudin nisi per hac, dis urna ornare ridiculus sapien cras velit curabitur torquent. Class neque sociosqu hac maecenas ridiculus accumsan ultrices faucibus fringilla venenatis metus, gravida malesuada nisi nam eros himenaeos integer tempor lectus cubilia.</p>
        </p>
    </div>

</body>
</html>