<!DOCTYPE html>
<html lang="es">
<head>
    <meta name = "description" content = "la gran descripcion de el sitio web">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> El gran titulo universitario </title>
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav class = "main_nav">
        <ul>
            <li><a href="../../index.html">VOLVER</a></li>
        </ul>
    </nav>
    
    <div class="reproductor">

        <div class="barra_navegacion"></div>

        <div class="album_image">
            <img class="" src="../images/theStrokesAlbum.jpg" alt="imagen_del_album">
        </div>
        
        <div class="reproductor_description">
            <h3 class="">The Strokes</h3>
            <p class = "notification_description">You Only Live Once</p>
        </div>

        <div class="reproductor_state">
            
            <button>
                <span class="material-symbols-outlined">
                    close
                </span>
                
            </button>

            <p> now playing </p>
        </div>

        
        
    </div>

    <div style = "display: block;">
        <div style="opacity: 0.5; height:50px; background-color: black"></div>
    </div>

</body>
</html>