*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 77, 77);
}

.first_header{
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    background-color: rgb(235 235 235);
    height: 30px;
}

.header_company_logo{
    width: 200px;
}

.first_header_1{
    display:inline;
}

.first_header_1 img{
    width: 25px;
    opacity: 50%;
}

.first_header_2{
    float: right;
}

.btn{
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px solid gray;
    color: black;

    background-color: rgb(235 235 235);
}

.btn:hover{
    cursor: pointer;
}

.btn_registrarme{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: gray;

    border: 0px solid gray;
}

.btn_iniciar_sesion{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: #b5121c;
    border: 0px solid gray;
}

.second_header{
    
    padding: 20px;
    background-color: white;

    display: flex;
    justify-content: space-between;

}

.second_header img{
    width: 300px;
}

.second_header .btn{
    margin: 8px;
    padding: 10px;
    color: #b5121c;
    background-color: white;
}

.second_header .btn_menu_ubicacion{
    
    margin: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    float: left;
    
    background-color: black;
    color: white;
}

.menu button{
    font-size: 20px;
}

.title{
    padding: 40px;
    box-shadow: 2px;
    background-color: rgb(235 235 235);
}

.cartelera_semanal_items{
    display: flex;
}

.cartelera_semanal_item{
    margin: 25px;
}

.cartelera_semanal_item img{
    width: 16%;

    width: 300px;
}

.red_advice{
    padding: 0px;
    margin: 0px;
}

.red_advice button{
    border: 0px solid red;
    padding: 10px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #b5121c;
}

.red_advice button:hover{
    cursor: pointer;
}

.cartelera_semanal_title{
    padding-left: 30px;
}

.cartelera_semanal_items{
    display: flex;
    justify-content: space-evenly;
}

.peliculas_clasificador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.peliculas_clasificador button{
    padding: 10px;
    border: 0px solid gray;
    background-color: white;

    width: 30%;
}