.terminal{
    width: 50%;
    height: 500px;
    background-color: black;
    color : rgb(0, 255, 0);

    /* background-image: url("view\public\images\heritech\wallpaper_heritech.png"); */
}

.terminal-image{
    opacity: 50%;
    translate: 50%;
    position: fixed;
    display:block;
}

.webmodule{

}

.switch-container{
    width:20%;
}

.login_container{
    background-color: black;
}

.view_image{
    width: 50%;
}