body{
    background-color: #222222;
    font-family: arial;
}

.mainSearch{
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.mainSearchButton{
    width: 10%;
    height: 10%;
    background-color: #222222;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.web_module{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.web_module:hover{
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    transition-duration: 0.3s;
}

.web_focuseable {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
        width: 80%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
    }
  
    to {
        width: 85%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        transition-duration: 0.3s;
   }
}

.simplecube{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    margin: 50px;
}

.simplecube:hover{
    rotate: 360deg;
    transition-duration: 0.3s;
}